table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

body {
  background-image: url('assets/background_image.png');
  background-size: cover;  /* Makes sure the image covers the entire screen */
  background-position: center;  /* Centers the image */
  background-attachment: fixed;  /* Keeps the image fixed when scrolling */
}

table {
  border-collapse: collapse;
  width: 100%;
  background-image: url('assets/background_image.png');
  background-size: cover;  /* Adjusts the image to cover the table */
  background-position: center;  /* Centers the image */
}



