table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

h1 {
  font-size: 36px; /* Set the font size */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Set a dark color for the text */
  text-align: center; /* Center-align the text */
  text-transform: uppercase; /* Make the text uppercase */
  letter-spacing: 2px; /* Add spacing between letters */
  margin-bottom: 20px; /* Add some space below the heading */
  padding: 10px; /* Add padding around the heading */
  background-color: rgba(255, 255, 255, 0.5); /* Set a semi-transparent background */
  border-radius: 8px; /* Add rounded corners to the background */
}

body {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* Semi-transparent white overlay */
    url('assets/background_image.png');
  background-size: 50% auto;  /* Makes sure the image covers the entire screen */
  background-repeat: no-repeat;
  background-position: center;  /* Centers the image */
  background-attachment: fixed;  /* Keeps the image fixed when scrolling */
}

table {
  border-collapse: collapse;
  width: 100%;
  background-size: cover;  /* Adjusts the image to cover the table */
  background-position: center;  /* Centers the image */
  background-color: white;  /* Set the background color to white or any other solid color */
  opacity: 1;  /* Ensures the table is fully opaque */
}
